<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
<div class="login-container">
    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="post">
        <label for="user_email">Email</label>
        <input type="text" id="user_email" name="user_email" required>
        <label for="passw">Password</label>
        <input type="password" id="passw" name="passw" required>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
